<%- include('includes/head.ejs') %>

<body class="bg-secondary">
<div class="container-fluid  myborder image-background " >

    <div class="row">
        <div class="col-xl-4 col-md-3 "></div>

        <div class="col-xl-4 col-md-6">
            <div class="card border myborder border-info border-3  bg-light mt-4 mb-4">
                <div class="card-body">

                    <nav class="navbar navbar-expand-lg navbar-light backInfo border border-primary myborder py-0 mb-3">
                        <div class="container-fluid text-center mb-2 ">
                            <h3 class="navbar-text text-center text-white rounded mb-0"><%= title %></h3>
                        </div>
                    </nav>
                    <img src="https://tendercareschools.org/images/security.gif"
                         class="card-img-top myborder imgGif " alt="...">

                    <form action="/" method="post" id="ajaxValidationPasswordPost" autocomplete="on" class="ml-3 mb-2 mr-3">
                        <div class="form-group">
                            <p class="text-center text-warning"><i><strong>Note: you have only 1 minute to register a
                                        password!</strong></i></p>
                        </div>
                        <div class="mb-2"> <!--form-group-->
                            <label for="pwd" class="form-label">Password</label>
                            <span class="star text-danger">*</span>
                            <span> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFSi5-68-pY4xGkTi5x5Vi4n1Tx-qIz9jVt0F-j6Hu9U1ojJLRopIesoKDhTSmkQr0zH8&usqp=CAU"
                                        class="card-img-top myborder imgLogo" alt="..."></span>
                            <input type="password" name="pwd" class="form-control myborder myinput" id="pwd"
                                   placeholder="Enter a password" autocomplete="on">

                            <div class="text-danger errormessage"> <%= msg1 %> </div>
                        </div>

                        <div class="mb-2"><!--form-group-->
                            <label for="pwd2" class="form-label">Confirm Password</label>
                            <span class="star text-danger">*</span>
                            <span> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFSi5-68-pY4xGkTi5x5Vi4n1Tx-qIz9jVt0F-j6Hu9U1ojJLRopIesoKDhTSmkQr0zH8&usqp=CAU"
                                        class="card-img-top myborder imgLogo" alt="..."></span>
                            <input type="password" name="pwd2" id="pwd2" class="form-control myborder myinput"
                                   placeholder="Enter the same password" autocomplete="on">
                            <!-- pattern="[^]{8,}" title="Password should contains 8 characters at least" required title="Password should contains 8 characters at least"required>
                                             placeholder="Enter the same password" autocomplete="on" required>-->
                            <div class="text-danger errormessage"> <%= msg2 %> </div>
                        </div>

                        <input type="hidden" name="email" value="<%= email %>">
                        <input type="hidden" name="first" value="<%= firstname %>">
                        <input type="hidden" name="last" value="<%= lastname %>">

                        <input type="submit" name="submitPass" id="submitPass" value="Sign up"
                               class="btn btn-block  border border-primary  mybtn backInfo  mt-2  w-100"
                               data-toggle="tooltip" data-placement="bottom"
                               title="Note: you have only 1 minute to register a password!">
                        <div class="mt-2 mb-0 ">
                            <p class="text-center"><i>Already have an account?</i> <a href="/">Login here</a></p>
                        </div>
                        <!--            <input type="submit" name="submit" id="submit" value="Sign up" class="btn btn-info mr-3">-->
                        <!--            <a href="/login">Log in</a>-->
                    </form>

                </div>
                <img src="https://i.gifer.com/TEcu.gif" class="card-img-top myborder" alt="...">
            </div>
        </div>

        <div class="col-xl-4 col-md-3 "></div>

    </div>
</div>

<%- include('includes/end.ejs') %>
